.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index-container01 {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 900px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.index-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #C7CBCE;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 25px;
  flex-direction: column;
  background-color: #DEE1E3;
}
.index-text {
  top: 9px;
  left: 0px;
  color: #393939;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 19px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.index-text01 {
  top: 9px;
  left: 0px;
  color: #393939;
  right: 0px;
  margin: auto;
  display: none;
  position: absolute;
  font-size: 19px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.index-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 220px;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 27px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/1587752021fbf94334da41b36ae618b1868de78cce-300h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.index-container04 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 35%;
  bottom: 0px;
  height: 115%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-size: contain;
  background-image: url("public/playground_assets/1587752021da4d04a25a1fdbc9bb248271557e9d99-400w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.index-container05 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 65%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  flex-direction: column;
  justify-content: flex-start;
}
.index-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.index-text02 {
  left: 0px;
  color: #ffffff;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.index-text03 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  margin: var(--dl-space-space-unit);
  position: absolute;
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.index-container08 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container10 {
  width: 100%;
  height: 60px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container11 {
  flex: 0 0 auto;
  width: 25%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container12 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text04 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 23px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container13 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text05 {
  color: #393939;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
  flex-direction: column;
}
.index-container15 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-color: #a4a4a4;
}
.index-container16 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
}
.index-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container18 {
  width: 100%;
  height: 60px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container19 {
  flex: 0 0 auto;
  width: 25%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text08 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container20 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #393939;
  border-radius: 8px;
  text-decoration: none;
  background-color: #ffffff;
}
.index-text09 {
  top: 0px;
  color: #5e5e5e;
  right: 0px;
  width: 55%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 55px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container21 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 60px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink1 {
  top: 0px;
  left: 0px;
  color: #fffefe;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #00B070;
  border-radius: 8px;
  text-decoration: none;
  background-color: #00B070;
}
.index-text10 {
  top: 6px;
  color: #ffffff;
  right: 0px;
  width: 45%;
  bottom: 0px;
  height: 12px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  text-align: left;
}
.index-text11 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  width: 65%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 37px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
  flex-direction: column;
}
.index-container23 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-color: #a4a4a4;
}
.index-container24 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
}
.index-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container26 {
  width: 100%;
  height: 60px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container27 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text12 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container28 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink2 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #393939;
  border-radius: 8px;
  text-decoration: none;
  background-color: #FFFFFF;
}
.index-text13 {
  top: 0px;
  color: #5e5e5e;
  right: 0px;
  width: 55%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 55px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container29 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink3 {
  top: 0px;
  left: 0px;
  color: #fffefe;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #00B070;
  border-radius: 8px;
  text-decoration: none;
  background-color: #00B070;
}
.index-text14 {
  top: 6px;
  color: #ffffff;
  right: 0px;
  width: 39%;
  bottom: 0px;
  height: 12px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  text-align: left;
}
.index-text15 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  width: 67%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image3 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 34px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
  flex-direction: column;
}
.index-container31 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-color: #a4a4a4;
}
.index-container32 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 30px;
}
.index-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container34 {
  width: 100%;
  height: 60px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container35 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text16 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container36 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink4 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #393939;
  border-radius: 8px;
  text-decoration: none;
  background-color: #FFFFFF;
}
.index-text17 {
  top: 0px;
  color: #5e5e5e;
  right: 0px;
  width: 57%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image4 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 53px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container37 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink5 {
  top: 0px;
  left: 0px;
  color: #fffefe;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #00B070;
  border-radius: 8px;
  text-decoration: none;
  background-color: #00B070;
}
.index-text18 {
  top: 6px;
  color: #ffffff;
  right: 0px;
  width: 37.5%;
  bottom: 0px;
  height: 12px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  text-align: left;
}
.index-text19 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  width: 67%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image5 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 34px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container38 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container39 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container40 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container41 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container42 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text20 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  font-size: 23px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container43 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container44 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
  flex-direction: column;
}
.index-container45 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-color: #a4a4a4;
}
.index-container46 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
}
.index-container47 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container48 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container49 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text21 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container50 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink6 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #393939;
  border-radius: 8px;
  text-decoration: none;
  background-color: #FFFFFF;
}
.index-text22 {
  top: 0px;
  color: #5e5e5e;
  right: 0px;
  width: 57%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image6 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 53px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container51 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container52 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
  flex-direction: column;
}
.index-container53 {
  width: 100%;
  height: 1px;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-color: #a4a4a4;
}
.index-container54 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 10px;
}
.index-container55 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container56 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1000px;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.index-container57 {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-text23 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.index-container58 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-navlink7 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  width: 200px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #393939;
  border-radius: 8px;
  text-decoration: none;
  background-color: #FFFFFF;
}
.index-text24 {
  top: 0px;
  color: #5e5e5e;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 35%;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
}
.index-image7 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 22px;
  bottom: 0px;
  height: 23.6px;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  margin-left: 47px;
  margin-right: auto;
  margin-bottom: auto;
}
.index-container59 {
  flex: 0 0 auto;
  width: 37.5%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
.index-container60 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
}
@media(max-width: 991px) {
  .index-container01 {
    padding: 0px;
  }
  .index-container02 {
    display: none;
  }
  .index-container04 {
    display: none;
  }
  .index-container05 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .index-container03 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .index-container14 {
    margin-bottom: 10px;
  }
  .index-navlink {
    width: 160px;
  }
  .index-image {
    margin-left: 40px;
  }
  .index-navlink1 {
    width: 160px;
  }
  .index-text10 {
    width: 40%;
    height: 25%;
  }
  .index-image1 {
    margin-left: 26px;
  }
  .index-container22 {
    margin-bottom: 10px;
  }
  .index-navlink2 {
    width: 160px;
  }
  .index-image2 {
    margin-left: 40px;
  }
  .index-navlink3 {
    width: 160px;
  }
  .index-text14 {
    width: 38%;
    height: 25%;
  }
  .index-text15 {
    width: 73%;
  }
  .index-image3 {
    margin-left: 17px;
  }
  .index-container30 {
    margin-bottom: 10px;
  }
  .index-navlink4 {
    width: 160px;
  }
  .index-image4 {
    margin-left: 40px;
  }
  .index-navlink5 {
    width: 160px;
  }
  .index-text18 {
    width: 37%;
    height: 25%;
  }
  .index-text19 {
    width: 73%;
  }
  .index-image5 {
    margin-left: 17px;
  }
  .index-container44 {
    margin-bottom: 10px;
  }
  .index-navlink6 {
    width: 160px;
  }
  .index-image6 {
    margin-left: 40px;
  }
  .index-container52 {
    margin-bottom: 10px;
  }
  .index-navlink7 {
    width: 160px;
  }
  .index-image7 {
    margin-left: 35px;
  }
}
@media(max-width: 479px) {
  .index-container02 {
    height: 50px;
    display: flex;
    margin-bottom: 0px;
    background-color: #ffffff;
  }
  .index-text {
    display: none;
  }
  .index-text01 {
    top: 14px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
  }
  .index-container03 {
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .index-container04 {
    height: 100%;
    display: none;
  }
  .index-container06 {
    height: 20%;
  }
  .index-container07 {
    height: 80%;
  }
  .index-text03 {
    margin: var(--dl-space-space-halfunit);
    font-size: 17px;
  }
  .index-container11 {
    width: 7%;
  }
  .index-container12 {
    width: 40%;
  }
  .index-text04 {
    width: 200px;
    height: 60px;
    text-align: left;
  }
  .index-container13 {
    display: none;
  }
  .index-container19 {
    width: 40%;
  }
  .index-container20 {
    width: 60%;
  }
  .index-container21 {
    width: 0%;
    display: none;
  }
  .index-container27 {
    width: 40%;
  }
  .index-container28 {
    width: 60%;
  }
  .index-container29 {
    width: 0%;
    display: none;
  }
  .index-container35 {
    width: 40%;
  }
  .index-container36 {
    width: 60%;
  }
  .index-container37 {
    width: 0%;
    display: none;
  }
  .index-container41 {
    width: 7%;
  }
  .index-container42 {
    width: 70%;
  }
  .index-text20 {
    width: 100%;
    text-align: left;
  }
  .index-container43 {
    width: 0px;
  }
  .index-container49 {
    width: 40%;
  }
  .index-container50 {
    width: 60%;
  }
  .index-container51 {
    width: 0px;
  }
  .index-container57 {
    width: 40%;
  }
  .index-container58 {
    width: 60%;
  }
  .index-container59 {
    width: 0px;
  }
}
