.p2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.p2-container01 {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 600px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.p2-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #C7CBCE;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 25px;
  flex-direction: column;
  background-color: #DEE1E3;
}
.p2-text {
  top: 9px;
  left: 0px;
  color: #393939;
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 19px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.p2-text1 {
  top: 9px;
  left: 0px;
  color: #393939;
  right: 0px;
  margin: auto;
  display: none;
  position: absolute;
  font-size: 19px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.p2-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 220px;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 27px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/1587752021fbf94334da41b36ae618b1868de78cce-300h.png");
  background-repeat: no-repeat;
  background-position: center;
}
.p2-container04 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 35%;
  bottom: 0px;
  height: 115%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-size: contain;
  background-image: url("public/playground_assets/1587752021da4d04a25a1fdbc9bb248271557e9d99-400w.png");
  background-repeat: no-repeat;
  background-position: center;
}
.p2-container05 {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 65%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  flex-direction: column;
  justify-content: flex-start;
}
.p2-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.p2-text2 {
  left: 0px;
  color: #ffffff;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 35px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.p2-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.p2-text3 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  margin: var(--dl-space-space-unit);
  position: absolute;
  font-size: 20px;
  align-self: center;
  text-align: center;
}
.p2-container08 {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: flex-start;
  margin-bottom: 15px;
  justify-content: center;
}
.p2-text4 {
  top: 0px;
  left: 0px;
  color: #393939;
  right: 0px;
  margin: 10px;
  position: absolute;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.p2-text5 {
  text-align: center;
}
.p2-container09 {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 15px;
  justify-content: center;
}
.p2-textinput {
  top: 0px;
  color: #393939;
  height: 40px;
  position: absolute;
  font-size: 20px;
  text-align: center;
  border-color: #393939;
  border-width: 2px;
  border-radius: 8px;
}
.p2-container10 {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  max-width: 1000px;
  min-height: 40px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  margin-bottom: 15px;
  justify-content: center;
}
.p2-navlink {
  top: 0px;
  left: 0px;
  color: #fffefe;
  right: 0px;
  width: 100px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  position: absolute;
  text-align: center;
  border-color: #00B070;
  border-radius: 8px;
  text-decoration: none;
  background-color: #00B070;
}
.p2-text7 {
  top: 0px;
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 19px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.p2-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .p2-container01 {
    padding: 0px;
  }
  .p2-container02 {
    display: none;
  }
  .p2-container04 {
    display: none;
  }
  .p2-container05 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .p2-container03 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .p2-navlink {
    width: 100px;
  }
}
@media(max-width: 479px) {
  .p2-container02 {
    height: 50px;
    display: flex;
    margin-bottom: 0px;
    background-color: #ffffff;
  }
  .p2-text {
    display: none;
  }
  .p2-text1 {
    top: 14px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    font-style: normal;
    font-weight: 700;
    justify-content: center;
  }
  .p2-container03 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .p2-container06 {
    height: 20%;
  }
  .p2-container07 {
    height: 80%;
  }
  .p2-text3 {
    margin: var(--dl-space-space-halfunit);
    font-size: 17px;
  }
  .p2-text4 {
    font-size: 20px;
  }
  .p2-textinput {
    width: 250px;
  }
}
